:root{
  --bs-body-bg:var(--bs-success)
}

body {
    background-color: rgb(103, 194, 165) !important;
    height: 100%;
  }
  
  form {
    /* background-color: rgb(222, 90, 90); */
    padding: 20px;
    border-radius: 10px;
  }

  h1{
    padding-top: 10px;
    font-family:'Courier New', Courier, monospace;
  }
  .login_container{
    margin: auto;
    margin-top: 70px;
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(222, 90, 90);
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size:large;
  }
  
  input {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: rgb(20, 19, 19);
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
  }

  .login_input{
    width: 95%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .login_button{
    padding-top: 15px;
    font-family:'Courier New', Courier, monospace;
  }
